.card {
  display: grid;
  grid-template-columns: 26.876vw 1fr;
  gap: 40px;
  text-decoration: none;
  cursor: default;
}

.card * {
  pointer-events: none;
}

.card p {
  white-space: pre-wrap;
}

.card .project-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 0.6;
  transition-duration: 0.5s;
}

.card:hover .project-info {
  opacity: 1;
}

.card .title {
  font-size: 2.78vw;
  font-weight: normal;
}

.card:hover .video-container {
  opacity: 1;
  pointer-events: none;
  overflow: hidden;
  width: 26.876vw;
  height: fit-content;
  border-radius: 10px;
  transition-duration: 0.5s;
}

.card .video-container {
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  width: 26.876vw;
  height: fit-content;
  border-radius: 10px;
  transition-duration: 0.5s;
}

.card:hover .image {
  opacity: 1;
  width: 100%;
  aspect-ratio: 1.77786879;
  object-fit: cover;
  border-radius: 10px;
}

.card .image {
  opacity: 0;
  width: 100%;
  aspect-ratio: 1.77786879;
  object-fit: cover;
  border-radius: 10px;
  transition-duration: 0.5s;
}

.card .top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card .work-period {
  font-weight: normal;
  font-size: 30px;
  color: #bdbdbd;
}

.card .company {
  font-weight: normal;
  font-size: 16px;
  color: #bdbdbd;
  margin-top: 6px;
}
