* {
  --text-color: #ffffff;
  --background-color: #181922;

  font-family: 'Azeret Mono';
  margin: 0;
  padding: 0;
  color: var(--text-color);
  user-select: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: var(--background-color);
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  display: none;
}

h1 {
  font-weight: bold;
  font-size: calc(400vw / 45);
}

.section {
  margin-bottom: 200px;
}
