* {
  --text-color: #ffffff;
  --background-color: #181922;

  font-family: 'Azeret Mono';
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

body {
  background-color: var(--background-color);
  overflow-x: hidden;
}

h1 {
  font-weight: bold;
  font-size: calc(400vw / 45);
}
